<!DOCTYPE html>
<head>
<title> Error </title>
<link rel="stylesheet" href="/chat.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="container">
        <section id="register_and_login">
          <div align="center" class="parent my-5">
            <div>
              <div class="px-3 py-3">
                <h2 class="text text-danger"> <%= error %> </h2>
              </div>
              <br>
              <a href="/"> Return home. </a>
            </div>
          </div>
        </section>
  </div>
</body>
