<!DOCTYPE html>
<head>
<title> Chat App </title>
<link rel="stylesheet" href="/chat.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>

</style>
</head>

<body>
  <div class="container">
        <section id="register_and_login">
          <div align="center" class="parent my-5">
            <div>
              <h1> 🔒 E2E-Encrypted Chat App 🔒 </h1>
              <h3> Register or Login to Your Account </h3>
              <br>
              <form action="/register" method="POST">
                <input required="true" minlength="1" maxlength="32" type="text" id="register_username" name="register_username" placeholder="Desired Username" cols="20" rows="5"></input>
                <br>
                <button class="btn btn-primary my-2" type="submit" id="reg_btn">Generate Login</button>
              </form>
            </div>

            <div class="my-5">
              <form action="/login" method="POST">
                <input required="true" minlength="1" maxlength="32" type="text" id="username" name="username" placeholder="Username"></input>
                <input required="true" minlength="1" type="password" id="wordphrase" name="wordphrase" placeholder="Passphrase"></input>
                <br>
                <button class="btn btn-primary my-2" type="submit" id="login_btn">Login</button>
              </form>
            </div>
          </div>
        </section>
  </div>
</body>
